body {
  background-color: rgb(34, 34, 34);
}
.navigation:hover {
  background-color: rgb(50, 4, 149);
}
.titel1 {
  color: rgb(255, 255, 255);
  font-size: 15pt;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin-left: 20px;
}
.titel2 {
  color: rgb(255, 255, 255);
  font-size: 30pt;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  margin-left: 282px;
  margin-top: -35px;
}
.navigation {
  color: rgba(255, 0, 238, 0.408);
  font-size: 10pt;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-left: 5px;
  background-color: #8a28a3;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-color: rgb(31, 1, 67);
  border-width: 3px;
  border-style: solid;
}
.about-me-title {
  color: rgb(255, 255, 255);
  font-size: 15pt;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin-left: 20px;
}
